html {
  color: black;
  font-family: "gill-sans-nova", sans-serif;
}

h1 {
  font-family: "sketchnote-square", sans-serif;
  color: #7ba32d;
}

.logo {
  max-width: 100px;
}

.banner {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  min-height: 45vh;
}

nav, ul {
  font-family: "gill-sans-nova", sans-serif;
  list-style: none;
  border-bottom: none;
  display: inline-block;
  list-style: none;
}

nav, li {
  display: inline-block;
}

nav, a {
  text-decoration: none;
  list-style: none;
  color: #000;
}

h2 {
  font-family: "sketchnote-square", sans-serif;
  color: #7ba32d;
}

h3 {
  font-family: "garamond-premier-pro", serif;
  font-style: bold;
  color: #7ba32d;
  margin: 0;
}

h4 {
  font-family: "garamond-premier-pro", serif;
  color: #7ba32d;
}

.text {
  font-family: "garamond-premier-pro", serif;
}

.directions {
  list-style: none;
  display: inline-block;
}

.card-label {
  font-family: "gill-sans-nova", sans-serif;
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(153, 22, 29, .5);
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
  align-content: center;
}

.card-img {
  position: relative;
  width: auto;
  height: 500px;
}

.photo {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.cookie {
  overflow: hidden;
  max-height: 500px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: solid 4px #99161d;
}

.btn {
  background-color: #99161d;
  border-color: #99161d;
}

.btn:hover {
  background-color: #bf161d;
  border-color: #bf161d;
}
