font-family: sketchnote-text, sans-serif;

font-weight: 400;

font-style: normal;
font-family: garamond-premier-pro, serif;
font-weight: 400;
font-style: normal;
font-family: garamond-premier-pro, serif;
font-weight: 400;
font-style: italic;
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: normal;
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: italic;
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: normal;

font-family: gill-sans-nova, sans-serif;
font-weight: 400;
font-style: italic;
font-family: gill-sans-nova, sans-serif;
font-weight: 700;
font-style: normal;
font-family: sketchnote-square, sans-serif;
font-weight: 400;
font-style: normal;


.title {
  font-family: "sketchnote-square", sans-serif;
  color: #99161d;
  margin: 0;
}

.subtitle {
  font-family: "gill-sans-nova", sans-serif;
  color: white;
  margin: 0;
}

.logo {
  position: absolute;
  width: 50%;
  height: 50%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 350px;
  margin: 2;
}

.banner-content {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  bottom: .5em;
  max-width: 50em;
}

nav {
  font-family: "gill-sans-nova", sans-serif;
  list-style-type: none;
  border-bottom: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.nav {
  display: none;
  position: absolute;
  background-color: pink;
}

h2 {
  font-family: "sketchnote-square", sans-serif;
  color: #7ba32d;
  padding-top: 1;
}

h3 {
  font-family: "garamond-premier-pro", serif;
  font-style: bold;
  color: #7ba32d;
  margin: 0;
}

.text {
  font-family: "garamond-premier-pro", serif;
}

.card-label {
  font-family: "gill-sans-nova", sans-serif;
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(50, 20, 10, .5);
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  align-content: center;
}
